*{
    padding: 0;
    margin: 0;
}
.bgi img{
    width: 100%;
    display: block;
}
.d-block{
    height: 400px;
}
.content{
    display: flex;
    justify-content: space-between;
}

.con1{
    color: #000000;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background: rgb(25, 209, 241);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: small;
    height: 95%;
}
.con2{
    color: #000000;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background: rgb(25, 209, 241);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
.but{
    display: inline-block;
    background-color: #3a8ce9;
    padding: 10px 40px ;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    min-width: 144px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #2A4F78;
    transition: 0.5s all;
    border-radius: 5px;
}
.but:hover{
    background: transparent;
    color: #1578e9;
}
.useful-info-ul{
    list-style: none;
    justify-content: space-between;
}
.useful-info-ul li{
    margin-bottom: 15px;
    border-bottom: 1px solid;
    padding-bottom: 15px;
}
.useful-info-ul a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.heading-sect{
    background-color: rgb(25, 209, 241);
    display: flex;
    justify-content: center;
    padding: 3px;
    margin-bottom: 20px;
}
.useful-info{
    display: flex;
    justify-content: space-between;
}
.useful{
    border: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
.prin{
    padding: 20px;
    margin: 20px;
}
.principal-img{
    display: flex;
    align-items: center;
}
.gallery-tit{
    display: flex;
    justify-content: center;
    background-color: rgb(25, 209, 241);
    padding: 3px;
    margin: 10px;
    width: 18%;
    border-radius: 10px;
}
.gallery-img{
    padding: 5px;
    margin: 0px;
    height: 200px;
    width: 260px;
}
.imag{
   display: flex;
}
.company-info{
    padding: 20px;
    margin: 20px;
}
.company-tit{
    display: flex;
    justify-content: center;
    background-color: rgb(25, 209, 241);
    border: 10px;
    padding: 5px;
    align-content: center;
    margin-bottom: 50px;
    width: 36%;
    border-radius: 10px;
}
.footer{
    margin-top: 50px;
    width: 100%;
    padding: 100px ;
    background:#aacf15 ;
    display: flex;
    justify-content: space-between;
    color: #040303;
}
.col-1 a{
    text-decoration: none;
    
   
}
.col-2{
    text-decoration: none;
    
}
.col-3{
    text-decoration: none;
}
