*{
  margin: 0;
  padding: 0;
}
.clgname{
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-style: Bold;
}
.notice_cart{
  position: relative;
  left: -170px;
  width: 250px;
  background-color: #ffff;
  min-height: 400px;
}
.index_mid{
  position: relative;
  width: 650px;
  top: 20px;
  left: -200px;
}
.carousel-item{
  position: relative;
  height: 350px;
  width: 650px;
}
.{
  background-color: #ffff;
}
.faculties_cart{
  position: relative;
  width: 200px;
  top: 20px;
  right: -170px;
  background-color: #FFFFDD;
}
.facul_link{
  color: rgb(255, 119, 119);
  background: #ffff;
  
}
#blueblock1 {
    width: 250px;
    border: 1px solid #990000;
    padding: 0 0 0 0;
    margin-bottom: 1em;
    font-family: 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
    text-align: left;
    font-size: 100%;
}
#blueblock1 li {
  border-bottom: 1px solid #990000;
  margin: 0;
}
#blueblock1 li a {
  display: block;
  padding: 5px 8px 5px 5px;
  background-color: #FFFFDD;
  color: #990000;
  text-decoration: none;
  width: 100%;
  border-right-width: 10px;
  border-left-width: 10px;
  border-right-style: solid;
  border-left-style: solid;
  border-right-color: #FFFFDD;
  border-left-color: #FFFFD2;
}
.iwimage{
  display: block; margin-left: auto; margin-right: auto;
  min-height: 100px; max-width: 100px; align-items: center;
}
