/* html { 
    background: url(p2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */


/* .container-fluid{
  background-color: rgb(255, 119, 119);
  
}
.container-fluid a:link,a:visited{
  background-color: rgb(255, 119, 119);
  color: rgb(255, 255, 255);
}
.container-fluid a:hover,a:active{
  box-shadow: 0px 10px 40px -10px rgb(255, 255, 255);
  opacity: 0.8;
}
.navbar-brand{
  padding-left: 10px;
  padding-right: 10px;
}
.nav-link{
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
}
.nav-link:hover{
  box-shadow: 0px 10px 40px -10px rgb(255, 255, 255);
  opacity: 0.8;
  color: #ffff;
} */

body{
  background-color: #c96567;
}
.clgname {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-style: Bold;
}
.row{
  margin: 0;
}
.notice_cart{
  margin: 16px auto 2px auto;
  width: 250px;
}
.table_bg{
  background-color: #ffff;
  /* height: 300px; */
}
.pictures{
  margin: auto;
}
.carousel-item{
  height: 300px;
}
.carousel-caption{
  text-align: center;
}
.faculties_cart{
  margin-left: auto;
  margin-right: auto;
}
.fac_mid{
  margin: auto;
}
.facul_link{
  color: rgb(255, 119, 119);
  background: #ffff;
  
}
#blueblock1 {
    /* margin-bottom: 1em;
    margin-top: 1em; */
    margin: 30px auto auto auto;
    font-family: 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
    text-align: left;
    font-size: 100%;
    height: 313px;
    padding: 0px 15px;
}
#blueblock1 li {
  border: 1px solid #ffff;
  margin: 0;
}
#blueblock1 li a {
  display: block;
  padding: 3px 8px 3px 5px;
  background-color: #644e5b;
  color: #ffff;
  text-decoration: none;
  width: 100%;
  border-right-width: 10px;
  border-left-width: 10px;
  border-right-style: solid;
  border-left-style: solid;
  border-right-color: #644e5b;
  border-left-color: #644e5b;
}
.council{
  margin-top: 25px;
  text-align: center;
  font-weight: bold;
  background-color: #314455;
  padding: 5px;
}
.iwimage{
  display: block; margin-left: auto; margin-right: auto;
  min-height: 100px; max-width: 100px; align-items: center;
}
.mygmap{
  height: 200px;
}
.gmapinfo{
  padding-left: 10px;
  padding-top: 50px;
  color: #ffff;
}
@media(max-width:767.98px) {
  .gmapinfo{
    padding-top: 0;
  }
  .faculties_cart{
    padding-left: 16px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-item{
    height: 400px;
  }
}
@media (min-width: 992px) {
  .notice_cart{
    padding: 0px 0px 0px 16px;
  }
  .table_bg{
    height: 327px;
  }
  .faculties_cart{
    padding-left: 0px;
  }
}
@media (max-width: 992px) {
  .pictures{
    padding-top: 16px;
  }
}
@media (max-width: 576px) {
  .notice_cart{
    padding-top: 16px;
    width: 90%;
    margin: auto;
  }
}
