@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background-image: url(background2.jpg) ;
} */
html { 
    background: url(image/p2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.container {
    position: relative;
    max-width: 800px;
    height: 540px;
    opacity: 0.95;
    margin: auto;
    margin-top: 30px;
    font-style: poppins;
    /* top: 60%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%); */
}
.myCard {
    position: relative;
    background: #ffffff;
    height: 110%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 10px 40px -10px rgb(115, 189, 233);
}
.myRightCtn {
    position: relative;
    background-image: linear-gradient(45deg,#e67070,#ff4444);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    padding-left: 25px;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myLeftCtn {
    position: relative;
    display: flex;
    background: #ffffff;
    border-radius: 5px;
    height: 75%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.myLeftCtn header {
    color: #e61e1e;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 20px;
}
.row {
    height: 100%;
    max-height: 100%;
}
.box_img {
    margin-left: 10%;
    padding: 30px;
    height: 280px;
    border-radius: 50%;
}
.title {
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
    padding-left: 1px;
    color: #ffffff;
}
.warning {
    color: #fbe1e1;
}
.problem a{
    color: #ff6363;
}
.myLeftCtn .myinput {
    width: 230px;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    padding-left: 40px;
    border: none;
    box-shadow: 0px 10px 40px -10px rgb(253, 168, 168);
}
.myLeftCtn .myinput:focus {
    outline: none;
}
.myFrom {
    position: relative;
    padding-left: 200%;
    padding: 20px;
    margin-top: 50px;
}
.myLeftCtn .submit {
    background: linear-gradient(45deg,rgb(243, 6, 6),rgb(246, 128, 128));
    color: #ffffff;
    width: 230px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0px 10px 40px -10px rgb(240, 88, 88);
}
.submit:hover {
    transition-duration: 250ms;
    background: linear-gradient(#f92424,#fb948d);
    color: #fffefe;
}
.myLeftCtn .fas {
    position: relative;
    color: rgb(249, 14, 14);
    left: 36px;
}
.butt_out {
    background: transparent;
    font-size: 16px;
    color: #ffffff;
    height: 38px;
    width: 128px;
    border: 2px solid#ffff;
    border-radius: 25px;
    padding: 2px;
    box-shadow: 0px 10px 40px -10px rgb(219, 154, 80);
}
.butt_out:hover {
    transition-duration: 250ms;
    background: #fb2626;
    border: 2px solid#f75f5f;
    color: rgb(252, 250, 250);
    width: 130px;
}
.butt_out:focus {
    outline: none;
}
.error_color {
    color: rgb(255, 0, 0);
    margin-bottom: 15px;
}
.artext {
    padding-top: 15px;
    color: #fbb324;
}
.content {
    background: #000;
    height: 90vh;
    overflow: hidden;
}
.content h1 {
    color: #fffefe;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: azonix;
    transform: translate(-50%,-50%);
    z-index: 1;
    font-size: 0px;
    text-align: center;
} 
.box ul li {
    position: relative;
    width: 30px;
    height: 30px;
    list-style: none;
    opacity: 0;
    background: radial-gradient(rgb(241, 31, 31),transparent,transparent);
    bottom: 0;
    left: 0.1vw;
    animation: animate 6s linear infinite;
}
/* .box ul li:nth-child(2){
    left: 18vh;
    animation-delay: 1s;
}
.box ul li:nth-child(3){
    left: 29vw;
    animation-delay: 4s;
}
.box ul li:nth-child(4){
    left: 40vw;
    animation-delay: 3s;
}
.box ul li:nth-child(5){
    left: 50vw;
    animation-delay: 6s;
}
.box ul li:nth-child(6){
    left: 60vw;
    animation-delay: 4s;
}
.box ul li:nth-child(7){
    left: 71vw;
    animation-delay: 5s;
}
.box ul li:nth-child(8){
    left: 82vw;
    animation-delay: 6s;
}
.box ul li:nth-child(9){
    left: 90vw;
    animation-delay: 4s;
}

@keyframes animate {
    0%{
        transform: scale(0);
        opacity: 2;
        bottom: -50%;
    }
    100%{
        transform: scale(10);
        opacity: 0;
        bottom: 200%;
    }
} */
