  /* .container-fluid{
    background-color: rgb(255, 119, 119);
    
  } */
  body{
    margin: 0;
    padding: 0;
  }
  .navbar{
    /* padding-left: 0;
    padding-right: 0; */
    padding: 0px;
  }
  .container-fluid a:link,a:visited{
    background-color: rgb(255, 119, 119);
    color: rgb(255, 255, 255);
  }
  .container-fluid a:hover,a:active{
    box-shadow: 0px 10px 40px -10px rgb(255, 255, 255);
    opacity: 0.8;
  }
  .navbar-brand{
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-brand:hover{
    box-shadow: 0px 10px 40px -10px #ffffff;
    opacity: 0.8;
    color: #ffff;
  }
  .navbar-collapse{
    padding-top: 5px;
  }
  .navbar-toggler{
    padding: 0 5px;
    margin: 5px;
    color: #ffffff;
    /* box-shadow: 0 0 0 0.15rem #ffffff; */
    border: 3px solid #ffffff;
    transition: none;
  }
  .navbar-toggler:hover{
    box-shadow: 0 0 0 0.05rem #ffffff;
  }
  .navbar-toggler:focus{
    box-shadow: 0 0 0 0.15rem #ffffff;
  }
  .dropdown-menu{
    padding: 1.5px 1px;
    border-radius:0px;
  }
  .nav-link{
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .nav-link:hover{
    box-shadow: 0px 10px 40px -10px rgb(255, 255, 255);
    opacity: 0.8;
    color: #ffff;
  }
  .dro{
    color: #ffffff;
  }
  .d-flex{
    padding-top: 2px;
  }
  .searchbtn{
    background: rgb(1, 154, 1);
    font-size: 14px;
    color: #ffffff;
    height: 38px;
    width: 100px;
    border: 2px solid#ffff;
    border-radius: 5px;
    padding: 2px;
  }
  .searchbtn:hover{
    transition-duration: 250ms;
    background: rgb(0, 120, 0);
    border: 2px solid#f75f5f;
    color: rgb(252, 250, 250);
  }
  
